@use "variables";

@import "~bootstrap/scss/bootstrap";

body {
    background-color: variables.$bg;
    color: var(--text);
    font-size: 30px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    font-size: 1.5rem;
}